<div class="container">
  <h3 class="row justify-content-center mt-3">Create Task</h3>
  <div class="row justify-content-center mt-3">
    <form>
      <div>
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input type="text" formcontrolname="title" matInput />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Details</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select>
            @for (status of statusTypes; track status) {
            <mat-option value="status" (click)="setStatus(status)">{{
              status
            }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <button mat-flat-button color="warn">Submit</button>
    </form>
  </div>
</div>
