<div class="container">
  <h1 mat-dialog-title>Task Detail</h1>
  <mat-dialog-content class="mat-typography">
    <form>
      <div>
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input type="text" [formControl]="taskForm.controls.title" matInput />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Details</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Move status to</mat-label>
          <mat-select>
            @for (status of statusTypes; track status) {
            <mat-option value="status" (click)="setStatus(status)" matInput>{{
              status
            }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <mat-dialog-actions align="start" class="p-0">
        <button mat-flat-button color="warn">Cancel</button>
        <button mat-flat-button color="primary">Save</button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</div>
