<div class="container">
  <h1 mat-dialog-title>Task Detail</h1>
  <div mat-dialog-content>
    <form>
      <div>
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input type="text" [formControl]="taskForm.controls.title" matInput />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Details</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Move status to</mat-label>
          <mat-select>
            @for (status of statusTypes; track status) {
            <mat-option value="status" (click)="setStatus(status)" matInput>{{
              status
            }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <button mat-flat-button color="primary">Save</button>
      <button mat-flat-button color="warn" class="float-right">Cancel</button>
    </form>
  </div>
</div>
